{% extends "base_generic.html" %}



{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#id_phone_number").inputmask("+375999999999");
        });
    </script>
</head>

<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% for field in form %}
    {% if field.errors %}
    <div class="alert alert-danger">
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}

    <button type="submit">Sign Up</button>
</form>
{% endblock %}

